name: Update Checker

env:
  REPO_URL: https://github.com/MetaCubeX/metacubexd
  REPO_URL_API: https://api.github.com/repos/MetaCubeX/metacubexd
  REPO_BRANCH: gh-pages

on:
  workflow_dispatch:
  schedule:
    - cron: 0 19 * * *

jobs:
  check:
    runs-on: ubuntu-latest

    steps:

    - name: Get Commit Hash
      id: getHash
      run: |
        commitHash=$(curl -s $REPO_URL_API/releases/latest | sed -n 's/.*"target_commitish":[[:space:]]*"\([^"]*\)".*/\1/p')
        echo "commitHash=${commitHash}" >> $GITHUB_OUTPUT

    - name: Compare Commit Hash
      id: cacheHash
      uses: actions/cache@v5
      with:
        path: .commitHash
        key: HEAD-${{ steps.getHash.outputs.commitHash }}

    - name: Save New Commit Hash
      if: steps.cacheHash.outputs.cache-hit != 'true'
      run: |
        echo ${{ steps.getHash.outputs.commitHash }} | tee .commitHash

    - name: Trigger build
      if: steps.cacheHash.outputs.cache-hit != 'true'
      uses: peter-evans/repository-dispatch@v4
      with:
        token: ${{ secrets.ACTIONS_TRIGGER_PAT }}
        event-type: Source Code Update
        client-payload: '{"dockerfile_name": "Dockerfile.lighttpd"}'

    - name: Delete workflow runs
      uses: Mattraks/delete-workflow-runs@v2
      with:
        retain_days: 2
        keep_minimum_runs: 0
